/* CUSTOM FONT: REGULAR */
@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url(./fonts/SourceSansPro-Regular.otf) format("opentype");
}

/* CUSTOM FONT: SEMIBOLD */
@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url(./fonts/SourceSansPro-Semibold.otf) format("opentype");
}

/* CUSTOM FONT: BOLD */
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url(./fonts/SourceSansPro-Bold.otf) format("opentype");
}

/* GLOBAL STYLES */
body {}

/* HEADER STYLES (TASK 1) */
header {
    background-image: url("images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* LOGO & NAV-MENU CONTAINER */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    flex-shrink: 0;
}

/* LOGO POSITION */
.logo {
    position: relative;
}

/* LOGO IMAGE STYLES */
.logo img {
    width: 161px;
    height: 32px;
}

/* NAV MENU CONTAINER */
.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-menu a {
    font-family: 'Source Sans Pro Bold';
}

.header-bottom {
    text-align: center;
    color: #FFF;
}

.header-bottom h1 {
    font-family: 'Source Sans Pro Bold';
    font-size: 32px;
}

.header-bottom h2 {
    font-family: 'Source Sans Pro Bold';
    font-size: 16px;
}

.header-bottom button {
    font-family: 'Source Sans Pro Bold';
    font-size: 14px;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FF6565;
    color: #ffffff;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    border: 0;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0, 0.50);
}

.header-bottom p {
    font-family: 'Source Sans Pro Regular';
    font-size: 16px;
}

/* BODY STYLES (TASK 2) */
.body {
    background-color: #FFF;
    color: #071629;
}

/* BODY HEADER */
.body-header {
    font-family: 'Source Sans Pro Semibold';
    font-size: 32px;
    text-align: center;
}

/* BODY DESCRIPTION */
.body-desc {
    font-family: 'Source Sans Pro Regular';
    font-size: 16px;
    text-align: center;
}

/* BODY BLOCK CONTAINER */
.body-block-container {
    display: flex;
    gap: 58px;
    justify-content: center;
}

.body-block-title {
    font-family: 'Source Sans Pro Semibold';
    font-size: 18px;
    text-align: center;
}

.body-block-description {
    font-family: 'Source Sans Pro Regular';
    font-size: 14px;
    text-align: center;
}

/* RESULTS STYLES (TASK 3) */

/* CONTACT US STYLES (TASK 4) */
.contact {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.contact-container {
    border: 1px solid #000;
    height: 533px;
    width: 379px;

}

.contact-header {
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-button {
    font-family: 'Source Sans Pro Bold';
    font-size: 14px;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FF6565;
    color: #ffffff;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    border: 0;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0, 0.50);
}
/* FOOTER STYLES (TASK 5) */