/* CUSTOM FONT: REGULAR */
@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url(./fonts/SourceSansPro-Regular.otf) format("opentype");
}

/* CUSTOM FONT: SEMIBOLD */
@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url(./fonts/SourceSansPro-Semibold.otf) format("opentype");
}

/* CUSTOM FONT: BOLD */
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url(./fonts/SourceSansPro-Bold.otf) format("opentype");
}

/* CUSTOM GLIPH FONT */
@font-face {
    font-family: 'Gliph';
    src: url('./gliph/._holberton_school-icon.woff') format('woff'),
         url(./gliph/._holberton_school.icon.eot) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* HEADER STYLES (TASK 1) */
header {
    background-image: url("images/headphones_hero_1.jpg");
    min-height: 100vh;
    background-size: cover; /* Scales img to cover entire header */ 
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
}

/* LOGO AND NAV CONTAINER */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 0px 32px;
    width: 80%;
    max-width: 1200px;
    padding-top: 20px;
}

/* LOGO CONTAINER */
.logo-container {
    margin-left: 50px;
    flex-shrink: 0;
}

/* LOGO */
.logo {
    width: 161px;
    height: auto;
}

/* NAV MENU CONTAINER */
.nav-container {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

/* NAVIGATION LIST STYLING */
.nav-menu {
    font-weight: bold;
    display: flex;
    list-style-type: none;
    gap: 40px;
}

/* WHAT WE DO, OUR RESULTS, AND CONTACT US */
.nav-menu a {
    font-family: 'Source Sans Pro Bold';
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s ease;
}

/* HOVER AND ACTIVE STATE FOR NAV LINKS */
.nav-menu a:hover,
.nav-menu a:active {
    color: #FF6565;
}

/* HEADER MAIN CONTENT */
.header-bottom {
    color: #FFF;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 220px;
}

/* HEADER TITLE */
.header-bottom h1 {
    font-family: 'Source Sans Pro Bold';
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1px;
}

/* HEADER SUBTITLE */
.header-bottom h6 {
    font-family: 'Source Sans Pro Bold';
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    margin-top: 0px;
}

/* HEADER BUTTON */
.header-bottom button {
    font-family: 'Source Sans Pro Bold';
    color: #ffffff;
    background-color: #FF6565;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 13px 31px;
    cursor: pointer;
    border-radius: 22px;
    width: 162px;
    height: 44px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    border: 0;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0, 0.50); /* Drop shadow */
    margin-bottom: 50px;
    transition: opacity 0.3s ease;
}

/* HOVER AND ACTIVE STATE FOR THE BUTTON */
.header-bottom button:hover,
.header-bottom button:active {
    opacity: 0.9;
}

/* HEADER DESCRIPTION */
.header-bottom p {
    font-family: 'Source Sans Pro Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* BODY STYLES (TASK 2) */
.body {
    background-color: #FFF;
    color: #071629;
}

/* BODY HEADER */
.body-header {
    font-family: 'Source Sans Pro Semibold';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 40px;
}

/* BODY DESCRIPTION */
.body-desc {
    font-family: 'Source Sans Pro Regular';
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 111px;
}

/* BODY BLOCK CONTAINER */
.card-container {
    display: flex;
    gap: 58px;
    justify-content: center;
    margin-bottom: 110px;
}

.card-title {
    font-family: 'Source Sans Pro Semibold';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 13px;
}

.card-description {
    font-family: 'Source Sans Pro Regular';
    font-size: 14px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* RESULTS STYLES (TASK 3) */

/* CONTACT US STYLES (TASK 4) */
.contact {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    max-width: 100%;
}

/* CONTACT CONTAINER */
.contact-container {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

/* CONTACT HEADER */
.contact-header {
    font-family: 'Source Sans Pro Semibold';
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 56px;
    margin-top: 110px;
}

/* CONTACT FORM FIELDS */
.contact-form-fields {
    display: flex;
    flex-wrap: wrap; /* allow items to wrap to next line */
    gap: 45px; /* space between items */
    justify-content: center;
}

/* TEXT STYLES FOR FORM FIELDS */
.name-container,
.email-container,
.message-container {
    font-family: 'Source Sans Pro Semibold';
    color: #071629;
    position: relative; /* set position for pseudo elements */
    font-size: 14px;
    font-weight: 600;
    width: 335px; /* set width for form fields */
    height: 28px; /* set height for form fields */
    margin-bottom: 30px;
}

/* LINE AFTER EACH FORM FIELD */
.name-container::after,
.email-container::after,
.message-container::after {
    content: '';
    position: absolute; /* position relative to container */
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%); /* adjust position to align perfectly */
    width: 100%; /* line takes up full width of container */
    height: 1px;
    background-color: #071629;
    opacity: 0.1745;
}

/* YOUR MESSAGE FIELD */
.message-container {
    margin-bottom: 57px;
}

/* CONTACT BUTTON STYLES */
.contact-button {
    font-family: 'Source Sans Pro Bold';
    font-size: 14px;
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FF6565;
    color: #ffffff;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    border: 0;
    width: 162px;
    height: 44px;
    text-align: center;
    margin-bottom: 130px;
}
/* FOOTER STYLES (TASK 5) */